@import "tailwindcss";

:root {
  --background: #fff5e1; /* krem tropis seperti pasir pantai */
  --foreground: #3b322c; /* coklat tanah untuk teks */
  --accent: #ffae00;
}

.dark {
  --background: #2b2a28; /* abu gelap seperti batu lava */
  --foreground: #fbe8c6; /* krem terang seperti cahaya lilin */
  --accent: #ffcc70;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s, color 0.3s;
}
